/*Simple CSS reset for items we will use JUST for this example.
Please use full reset when designing!
Reseting the margin and padding is important for the body tag so the
header and footer will hug the whole screen.*/







.gift-container-inner{
    width: 100%;
    height: auto;
}


.giftItem{
    position: relative;
    float: left;
    width: 230px;
    height: auto;
    margin: 0 5px 30px;
    background-color: #ffffff;
}

.giftPopup{
    #background-color: black;
    position: absolute;
    width: 230px;
    height: 390px;
    display: none;
    background-image: url("http://localhost/giftcards/images/list_hover.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    cursor: default;
}

.giftPopup div{
    position: absolute;
    width: 230px;
    height: 70px;
    background-color: #DC0000;
    top: 210px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 12pt;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.giftItem .poster img {
    display: block;
    width: 230px;
    height: 340px;
}

.giftItem h2 {
    height: 19px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;

}

.giftItem h2 a{
    text-decoration: none;
    color: #999999;
}

.giftItem .poster {
    display: block;
    position: relative;
    cursor: pointer;
    width: 230px;
    height: 340px;
}




