/*Simple CSS reset for items we will use JUST for this example.
Please use full reset when designing!
Reseting the margin and padding is important for the body tag so the
header and footer will hug the whole screen.*/

.gift-container-inner{
    margin: 0 auto;
}


.giftItem{
    position: relative;
    float: left;
    width: 300px;
    height: 500px;
    margin: 0 5px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.giftPopup{
    position: absolute;
    width: 300px;
    height: 500px;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: default;
    cursor: pointer;
}

.giftPopup div{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 210px;
    text-align: center;
    color: white;
    font-size: 12pt;
    background-image: url("../../../images/gift-send.png");
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.giftItem .poster img {
    display: block;
    width: 300px;
    height: 400px;
}

.giftItem h2 {
    font-family: 'light-alokado';
    padding-top: 20px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}

.giftItem h2 a{
    text-decoration: none;
    color: gray;
}

.giftItem .poster {
    display: block;
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 400px;
}




