


@font-face {
	font-family: 'alokado';
	src: url('../fonts/alokado.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	margin: 0px;
	padding: 0px;
}



/*
* List Banner
*
*/


.list-banner-bg{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: 110% auto;
	background-repeat: no-repeat;
}

.list-banner{
	position: relative;
	text-align: center;
	font-family: 'light-alokado';
	color: white;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.70);
	display: none;
	height: 800px;
	z-index: 555;

}

.list-banner .right-big-text{
	position: absolute;
	left: 0px;
	top: 50%;
	font-size: 30pt;
	width: auto;
	height: 100px;
	font-family: 'light-alokado' !important;
}

.list-banner .right-medium-text{
	position: absolute;
	left: 0px;
	top: 57%;
	font-size: 20pt;
	width: auto;
	height: 100px;
	font-family: 'light-alokado' !important;
}


.banner-with-love{
	position: absolute;
	left: 0px;
	top: 62%;
	width: auto;

}

.banner-with-love span{
	display: block;
	float: left;
	font-size: 12pt;
	height: 50px;
	line-height: 50px;
	font-family: 'light-alokado' !important;
}

.banner-with-love .big-love{
	width: 40px;
	background-image: url("../../../images/sprite.png");
	background-position: -7px -115px;
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-left: 10px;
}




/*
.container{
	position: relative;
	top: 100px;
	width: 100%;
	height: 700px;
	margin:0 auto;
	text-align: center;
}

.panel{
	position: relative;
	top: 10px;
	width: 100%;
	height: 200px;
	background-color: white;
	border-top: 4px solid #DC0000;
	border-bottom: 4px solid orange;
	padding-bottom: 5px;
	text-align: center;
}

.happy{
	margin: 0 auto;
	position: relative;
	height: 200px;
	width: 1000px;
	background-image: url("../../../images/happy.png");
	background-position: 20px -20px;
	background-repeat: no-repeat;
	#border: 1px solid red;
}


.text{
	position: relative;
	top: 20px;
	color:  white;
}

.fb-block{

}





.with-lowe span{
	display: block;
	float: left;
}

.with-lowe .heart{
	width: 25px;
	height: 25px;
	background-image: url("../../../images/sprite.png");
	background-position: -3px -69px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
*/


