
body{
	background: black;
	margin: 0px;
	padding: 0px;
}

.container{
	position: relative;
	top: 100px;
	top: 100px;
	width: 700px;
	height: 700px;
	margin:0 auto;
	text-align: center;
	#border: 1px solid red;
	padding-right: 100px;
}




