
.process-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    left: 0;
    top: 0;
    z-index: 999;
}

.process {
    position: relative;
    z-index: 999999;
    width: 1000px;
    height: 600px;
    left: 0;
    right: 0;
    top: 15%;
    margin: 0 auto;
    background-color: white;

    -webkit-box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.22);
    box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.22);
}

.process-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: gray;
}

.process-footer .next{
    background-color: #BA0000;
}

.process-footer button{
    float: left;
    height: 50px;
    border: 0;
    width: 50%;
    margin: 0;
    outline: none;
    cursor: pointer;
    color: white;
}

.process-footer button:hover{
   opacity: 0.8;
}


.process-header{
    position: relative;
    height: 40px;
}

.process-header a{
    position: absolute;
    display: block;
    right: 0;
    height: 25px;
    width: 25px;
    background-image: url("../../../images/sprite.png");
    background-position: -4px -92px;
    background-repeat: no-repeat;
    margin: 10px;
    #border: 1px solid red;
}

.process-header a:hover{
    opacity: 0.7;
}

.process-step-progress{
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.process-step-progress div{
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: 1px;
    background-color: lightgrey;
}

.process-step-progress div span{
    display: block;
    background-color: red;
    width: 16.6%;
    height: 1px;
}

.process-body {
    text-align: center;
    height: 300px;
}

.process-body .step{
    width: 100%;
    display: none;
}

.step.active{
    display: block;
}





.step-1{
    text-align: center;
}

.step-1 div{
    display: inline-block;
    width: 140px;
    height: 100px;
    margin: 20px;
    background-image: url("../../../images/sprite-process.png");
    background-position: -3px -5px;
    background-repeat: no-repeat;
    #border: 1px solid red;
}

.step-1 p{
    color: gray;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 10pt;
}

.step-1 input{
    width: 250px;
    height: 40px;
    line-height: 40px;
    border: 1px solid lightgrey;
    color: gray;
    text-align: center;

}

.step-1 input::-moz-placeholder{
    #color: #DC0000;
    #opacity: 0.5;
}

.step-1 input::-webkit-input-placeholder{
    #color: #DC0000;
    #opacity: 0.5;
}

.step-1 input::-ms-input-placeholder{
    #color: #DC0000;
    #opacity: 0.5;
}




.step-2{
    text-align: center;
}

.step-2 .image{
    display: inline-block;
    width: 120px;
    height: 105px;
    margin: 20px;
    background-image: url("../../../images/sprite-process.png");
    background-position: -404px -5px;
    background-repeat: no-repeat;
    #border: 1px solid red;
}

.step-2 p{
    color: gray;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 10pt;
}

.step-2 input{
    width: 250px;
    height: 40px;
    line-height: 40px;
    border: 1px solid lightgrey;
    color: gray;
    text-align: center;
    margin: 5px;
}








.step-3{
    text-align: center;
}

.step-3 .image{
    display: inline-block;
    width: 120px;
    height: 100px;
    margin: 20px;
    background-image: url("../../../images/sprite-process.png");
    background-position: -288px -5px;
    background-repeat: no-repeat;
    #border: 1px solid red;
}

.step-3 p{
    color: gray;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 10pt;
}

.step-3 .selector{
    width: 370px;
    height: 70px;
    display: inline-block;
}

.step-3 .selector select{
    height: 40px;
    line-height: 40px;
    text-align: center !important;
    border: 1px solid lightgrey;
    color: gray;
    padding: 0 0 0 20px;
}


.step-4{
    text-align: center;
}

.step-4 .left{
    margin-left: 50px;
    #display: inline-block;
    width: 450px;
    height: 450px;
    border-right: 1px solid lightgrey;
    #border: 1px solid red;
    float: left;
    position: relative;
}

.step-4 .right{
    #display: inline-block;
    width: 450px;
    height: 450px;
    #border: 1px solid red;
    float: left;
    margin-left: 20px;
    position: relative;
}


.step-4 .left input{
    height: 40px;
    width: 320px;
    border: 0;
    border-bottom: 1px solid lightgray;
    outline: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    color: grey;
}

.step-4 .left textarea{
    height: 150px;
    width: 300px;
    border: 1px solid lightgray;
    outline: none;
    text-align: center;
    padding: 10px;
    border: 0;
    resize: none;
    color: grey;
}

.step-4 .left .image{
    position: absolute;
    bottom: 0px;
    left: 150px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../../../images/sprite-process.png");
    background-position: -2px -107px;
    background-repeat: no-repeat;
}

.step-4 .right .preview-tabs{
    width: 100%;
    height: 16px;
    text-align: center;
}

.step-4 .right .preview-tabs a{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    border: 1px solid lightgray;
    border-bottom: none;
    padding: 10px;
    color: lightgray;
}

.step-4 .right .preview-tabs .active{
    color: gray;
}

.step-4 .right .top{
    margin-top: 50px;
    height: 190px;
    width: 100%;
    border-bottom: 1px dashed lightgrey;
    background-image: url("../../../images/device-bg.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    font-style: italic;
}

.step-4 .right .on-mobile-preview-inside{
    margin-top: 50px;
    height: 385px;
    width: 100%;

    background-image: url("../../../images/device-bg.jpg");
    background-position: 29px 41px;
    background-repeat: no-repeat;
}

.step-4 .right .on-mobile-preview-inside .device-header{
    color: gray;
    border-bottom: 1px dashed lightgray;
    height: 40px;
    line-height: 40px;
}

.step-4 .right .on-mobile-preview-inside .device{
    position: relative;
    margin: 0 auto;
    width: 80%;

}

.step-4 .right .on-mobile-preview-inside .message-from{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;


}

.step-4 .right .on-mobile-preview-inside .message-from div{
    float: left;
}

.step-4 .right .on-mobile-preview-inside .message-from .message{
    width: 50%;
    padding: 10px;
    height: auto;
    background-color: #FFCCCC;
    border-radius: 6px;
    text-align: left;
    border: 2px solid white;
}

.step-4 .right .on-mobile-preview-inside .message-from .message-date{
    position: absolute;
    bottom: 5px;
    left: 57%;
    text-align: left;
    font-size: 8pt;
    color: gray;
    padding: 3px;
}

.step-4 .right .on-mobile-preview-inside .message-to{
    position: relative;
}

.step-4 .right .on-mobile-preview-inside .message-to div{
    float: right;
}

.step-4 .right .on-mobile-preview-inside .message-to .message{
    background-color: #EFEFEF;

}

.step-4 .right .on-mobile-preview-inside .message-to .message-date{
    position: absolute;
    left: 0%;
    text-align: right;
    font-size: 8pt;
    width: 150px;

}

.step-4 .right .center{
    height: 180px;
    width: 100%;
    font-style: italic;
}

.step-4 .right .top .card{
    position: relative;
    display: inline-block;
    border-radius: 5px;
    height: 90%;
    width: 90%;

}

.step-4 .right .top .card .card-left{
    color: gray;
}

.step-4 .right .top .card .card-left  h1{
   margin-top: 30px;
    font-size: 20pt;
   color: #DC0000;
}


.step-4 .right .center .text{
    padding-top: 20px;
    display: inline-block;
    width: 300px;
    color: gray;
    text-align: center;
    overflow: auto;
}

.step-4 .right .center .text p{
    margin-bottom: 20px;
}

.with-lowe{
    display: inline-block;
}

.step-4 .right .bottom{
    font-style: normal;
    position: relative;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    color: lightgrey;
}

.step-4 .right .bottom .copyright{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.step-4 .right .bottom .logo{
    position: absolute;
    bottom: 0px;
    right: 0px;
}




.step-5 .sides{
    float: left;
    width: 450px;
    height: 410px;
}

.step-5 .left{
    position: relative;
    padding-left: 30px;

}

.step-5 .left .info{
   #border: 1px solid red;
   width: 100%;
   height: auto;
   text-align: left;
   margin-top: 30px;
}

.step-5 .left .info p{
    line-height: 30px;
    color: gray;
}

.step-5 .left .payer-info{
    position: relative;
    position: absolute;
    bottom: 0px;
    bottom: 50px;
}

.step-5 .left .payer-info a{
    position: absolute;
    left: 0px;
    margin-top: 20px;
}


.step-5 .left .payer-info input{
    display: block;
    margin-top: 15px;
    height: 50px;
    width: 300px;
    border: 1px solid lightgrey;
    padding-left: 10px;
}

.step-5 .right{
    padding: 10px;
    padding-right: 20px;
    position: relative;
    margin-left: 20px;
    border-right: 1px solid lightgrey;
}



.step-5 .right .pay-item{

    display: inline-block;
    position: relative;
    height: 70px;
    width: 80%;
    border: 0px;
    border-bottom: 1px dashed lightgrey;
    text-align: center;
    cursor: pointer;
    margin-bottom: -1px;
}

.step-5 .right .pay-methods .last{
    border: none;
}

.step-5 .right .pay-item .pay-select{
    display: block;
    width: 7px;
    height: 7px;
    background-color: lightgrey;
    position: absolute;
    top: 30px;
    left: 15px;
    border-radius: 100px;
}


.step-5 .right .pay-item .pay{
    display: inline-block;
    width: 200px;
    height: 70px;
}

.step-5 .right .pay-item.active .pay-select{
    background-color: orange;
}




.step-5 .right .pay-item .pay-visa{
    background-image: url("../../../images/sprite-process.png");
    background-position: -520px -2px;
    background-repeat: no-repeat;
}

.step-5 .right .pay-item .pay-amex{
    background-image: url("../../../images/sprite-process.png");
    background-position: -524px -63px;
    background-repeat: no-repeat;
}

.step-5 .right .pay-item .pay-nova{
    background-image: url("../../../images/sprite-process.png");
    background-position: -524px -136px;
    background-repeat: no-repeat;
}





