/*Simple CSS reset for items we will use JUST for this example.
Please use full reset when designing!
Reseting the margin and padding is important for the body tag so the
header and footer will hug the whole screen.*/

h1, p, body, html {
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

body {
    background: #F2F2F2;
    font:12px verdana, sans-serif;
    color:#000;
}

ul {
    list-style: none;
}


.gift-container {
    position:relative;
    overflow:auto;
    margin:0 auto;
    width:400px;
    top: 150px;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.footer-container {
    overflow:auto;
    position:relative;
    margin:0 auto;
    width: 400px;
}

.footer {
    position:relative;
    overflow:auto;
    margin:0 auto;
    width: 100%;
    height: 100px;
    top: 150px;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #333333;
}

.footer ul{
    display: block;
    list-style: none;
    margin-left: -32px;
}

.footer li {
    display: block;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #808080;

}

.footer li a{
    color: #808080;
}




.giftItem{
    position: relative;
    float: left;
    width: 230px;
    height: auto;
    margin: 0 5px 30px;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -khtml-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.giftPopup{
    background-color: black;
    position: absolute;
    width: 230px;
    height: 419px;
    opacity: 0.7;
    display: none;

}

.giftPopup div{
    position: absolute;
    width: 230px;
    height: 70px;
    background-color: #DC0000;
    top: 210px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 15pt;
}

.giftItem .poster img {
    display: block;
    width: 230px;
    height: 340px;
}

.giftItem h2 {
    height: 50px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;

}

.giftItem h2 a{
    text-decoration: none;
    color: #999999;
}

.giftItem .poster {
    display: block;
    position: relative;
    cursor: pointer;
    width: 230px;
    height: 340px;
}




/*If you are going to use floats then you will NEED to clear the
footer so it doesn't bunch the content up*/
.clear {clear:both;}